<a href="https://colab.research.google.com/github/escorpio11/programa-python/blob/main/modulo1/clase2/Copia_de_clase02_Variables_y_Expresiones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://posgrado.utec.edu.pe/sites/default/files/2023-08/Testimonial-home-2.jpg" alt="HTML5 Icon" width="900" height="250" >

# **Ejercicios - Variables y Expresiones**

**Ejercicio 1: Calculadora de ahorro semanal**

Pide al usuario cuánto dinero ahorra cada día de lunes a domingo. Al final, muestra cuánto ahorró en total esa semana y cuánto tendría en un mes si repite el mismo patrón cada semana.

- Pista: Usar 7 variables (ahorro_lunes, ahorro_martes, …), input(), float(), +, *.

In [24]:
## INICIO DE CÓDIGO
#Inputs
i=0
saving_week=0
days=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
#Process
while i<=6:
  saving[i-1]=input(f'Enter your saving for the day {days[i]}...... :')
  i=i+1
  saving_week=saving_week+float(saving[i-1])
#Output
print(f'Your saving for this week is {saving_week}')
saving_month=saving_week*4
print(f'Your saving for the month could be {saving_month}')


## FIN DE CÓDIGO

Enter your saving for the day Monday...... :1
Enter your saving for the day Tuesday...... :1
Enter your saving for the day Wednesday...... :1
Enter your saving for the day Thursday...... :1
Enter your saving for the day Friday...... :1
Enter your saving for the day Saturday...... :1
Enter your saving for the day Sunday...... :1
Your saving for this week is 7.0
Your saving for the month could be 28.0

**Ejercicio 2: Conversor de segundos**

Solicita una cantidad total de segundos y muestra cuántos minutos y segundos representa.

Ejemplo: 130 segundos → 2 minutos y 10 segundos
* Pista: Usar // y %

In [25]:
## INICIO DE CÓDIGO
time_sec=(input('Enter a slot of time in seconds: '))
time_min=int(time_sec)//60
time_sec=int(time_sec)%60
print(f'{time_min} minutes and {time_sec} seconds')
## FIN DE CÓDIGO

Enter a slot of time in seconds: 40
0 minutes and 40 seconds

**Ejercicio 3: Puntuación de juego**

Un videojuego otorga:

* 10 puntos por cada estrella recolectada,
* 50 puntos por cada gema recolectada, y
* 1 punto por cada segundo que el jugador se mantuvo vivo.

Pide al usuario las tres cantidades y muestra su puntaje total.

* Pista: total = estrellas*10 + gemas*50 + tiempo

In [26]:
## INICIO DE CÓDIGO
collected_stars=int(input('Enter the number of stars collected: '))
collected_gems=int(input('Enter the number of gems collected: '))
time_survived=int(input('Enter the time survived in seconds: '))
score=collected_stars*10+collected_gems*50+time_survived
print(f'Your score is {score}')

## FIN DE CÓDIGO

Enter the number of stars collected: 2
Enter the number of gems collected: 3
Enter the time survived in seconds: 56
Your score is 226

**Ejercicio 4: Conversor de monedas con tasa personalizada**

Solicita al usuario:

* El monto en soles
* La tasa de cambio a dólares

Muestra el equivalente en dólares, redondeado a 2 decimales.

* Pista: Usar float(), *, round(valor, 2)

In [27]:
## INICIO DE CÓDIGO
amount_soles=float(input('Enter the amount in soles: '))
exchange_rate=float(input('Enter the exchange rate: '))
amount_dollars=round(amount_soles/exchange_rate,2)
print(f'The equivalence in dollars is {amount_dollars}')
## FIN DE CÓDIGO

Enter the amount in soles: 398
Enter the exchange rate: 3.7865
The equivalence in dollars is 105.11

**Ejercicio 5: Costo compartido de viaje**

Tres amigos hacen un viaje y pagan distintos montos:

* Ana pagó gasolina,
* Luis pagó peajes,
* Carla pagó comida.

Pide los tres montos, calcula el total y cuánto debería aportar cada uno para que paguen igual.

* Pista: Calcular el total y luego dividirlo entre 3

In [28]:
## INICIO DE CÓDIGO
gas_ana=float(input('Enter the amount paid by Ana for fuel: '))
toll_luis=float(input('Enter the amount paid by Luis for tolls: '))
food_carla=float(input('Enter the amount paid by Carla for food: '))
total=gas_ana+toll_luis+food_carla
print(f'The total amount is {total}')

## FIN DE CÓDIGO

Enter the amount paid by Ana for fuel: 23
Enter the amount paid by Luis for tolls: 34
Enter the amount paid by Carla for food: 45
The total amount is 102.0

**Ejercicio 6: Tiempo total de estudio**

Solicita al usuario cuántas horas estudió en 4 materias distintas.

Muestra el total de horas de estudio en la semana y el promedio diario (considerando 7 días).

In [31]:
## INICIO DE CÓDIGO
t_math=float(input('Enter the number of hours studied in Mathematics: '))
t_history=float(input('Enter the number of hours studied in History: '))
t_science=float(input('Enter the number of hours studied in Science: '))
t_english=float(input('Enter the number of hours studied in English: '))
t_week=t_math+t_history+t_science+t_english
t_week_hours=int(t_week)
t_week_minutes=int(t_week%60)
t_day_hours=int(t_week/7)
y_day_minutes=int(t_week/7%60)
print(f'The total number of hours studied in the week is {t_week_hours} hours and {t_week_minutes} minutes')
print(f'The total number of hours studied in a day is {t_day_hours} hours and {y_day_minutes} minutes')
## FIN DE CÓDIGO

Enter the number of hours studied in Mathematics: 23
Enter the number of hours studied in History: 24
Enter the number of hours studied in Science: 28.9
Enter the number of hours studied in English: 2
The total number of hours studied in the week is 77 hours and 17 minutes
The total number of hours studied in a day is 11 hours and 11 minutes

**Ejercicio 7: Nombre codificado (nivel string)**

Pide al usuario su nombre completo y muestra:

* La cantidad de caracteres (con len())
* Su nombre todo en mayúsculas (.upper())
* Su nombre todo en minúsculas (.lower())

In [32]:
from os import name
## INICIO DE CÓDIGO
name=input('Enter your full name: ')
print(f'The number of characters in your name is {len(name)}')
print(f'Your name in uppercase is {name.upper()}')
print(f'Your name in lowercase is {name.lower()}')
## FIN DE CÓDIGO

Enter your full name: Emmanuel
The number of characters in your name is 8
Your name in uppercase is EMMANUEL
Your name in lowercase is emmanuel

**Ejercicio 8: Frase repetida**

Pide una frase y un número n, y muestra la frase repetida n veces, cada una en una línea.

* Pista: print(frase * n)  # y/o con '\n'

In [33]:
## INICIO DE CÓDIGO
phrase=input('Enter a phrase:')
number=int(input('Enter a number:'))
print((phrase+'\n')*number)
## FIN DE CÓDIGO

Enter a phrase:Hello
Enter a number:3
Hello
Hello
Hello

**Ejercicio 9: División de cuentas**

Un grupo de amigos pide una cuenta por S/ 250.
Pide al usuario cuántas personas están en el grupo y muestra cuánto debe pagar cada uno.

Asegúrate de redondear el resultado a 2 decimales.

* Pista: Usa la funcion round()

In [35]:
## INICIO DE CÓDIGO
bill=250
number_people=int(input('Enter the number of people in the group: '))
print(f'Each people in the group should pay {round(bill/number_people,2)} soles')

## FIN DE CÓDIGO

Enter the number of people in the group: 4
Each people in the group should pay 62.5 soles

**Ejercicio 10: Calendario de clases**

Pide cuántas horas se estudia en promedio por día, y cuántos días tiene el mes.

Calcula cuántas horas de estudio habrá ese mes.

In [36]:
## INICIO DE CÓDIGO
hours_per_day=int(input('Enter the number of hours studied per day:'))
days_in_month=int(input('Enter the number of days in the month:'))
print(f'The total number of hours studied in the month is {hours_per_day*days_in_month}')
## FIN DE CÓDIGO

Enter the number of hours studied per day:2
Enter the number of days in the month:30
The total number of hours studied in the month is 60

---

# Gracias por completar este laboratorio!

---