<a href="https://colab.research.google.com/github/escorpio11/programa-python/blob/main/modulo_3/Progama_Python_UTEC_Sesion08_Sesion09_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

### Series

In [48]:
# Llamar a la librería Pandas
import pandas as pd

In [ ]:
# Creación de una serie a partir de 5 números aleatorios usando la librería numpy
import numpy as np

pd.Series(np.random.randn(5))

In [ ]:
pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

### DataFrames

In [ ]:
# Data Frames que provienen de diccionarios de series.
d = {
    'c1': pd.Series(['A', 'B', 'C']),
    'c2': pd.Series([1, 2., 3., 4.])
    }

print(d)

In [ ]:
# Convertir un diccionario en un DataFrame
df = pd.DataFrame(d)
df

In [ ]:
# Data Frames que provienen de diccionarios de listas.
d = {
    'c1': ['A', 'B', 'C', 'D'],
    'c2': [1, 2.0, 3.0, 4.0]
    }

df = pd.DataFrame(d)

In [ ]:
df

In [ ]:
np.random.randn(4, 3)

In [ ]:
# Data Frames que provienen de diccionarios de series.

d = {
    'Item1': pd.DataFrame(np.random.randn(4, 3)),
    'Item2': pd.DataFrame(np.random.randn(4, 2))
    }

print(d)

In [ ]:
pd.DataFrame(d['Item1'])

In [ ]:
pd.DataFrame(d['Item2'])

### Importar Datos CSV

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

In [ ]:
ruta = "/gdrive/My Drive/UTEC/"
dataset = "students.csv"

In [ ]:
ruta+dataset

'/gdrive/My Drive/UTEC/students.csv'

In [ ]:
d = pd.read_csv(ruta+dataset)

In [ ]:
#Leer los primeros registros.
d.head()

,LOCATION CODE,COUNTY,AREA NAME,REGION,SCHOOL YEARS,NO. OVERWEIGHT,PCT OVERWEIGHT,NO. OBESE,PCT OBESE,NO. OVERWEIGHT OR OBESE,PCT OVERWEIGHT OR OBESE,GRADE LEVEL,AREA TYPE,STREET ADDRESS,CITY,STATE,ZIP CODE,Location 1
0,10402,ALBANY,RAVENA COEYMANS SELKIRK CENTRAL SCHOOL DISTRICT,NORTHEASTERN NEW YORK,2012-2013,124.0,18.5%,139.0,20.8%,263.0,39.3%,DISTRICT TOTAL,SCHOOL DISTRICT,15 MOUNTAIN RD,RAVENA,NY,12143.0,"15 MOUNTAIN RD\nRAVENA, NY 12143\n(42.47227638..."
1,10402,ALBANY,RAVENA COEYMANS SELKIRK CENTRAL SCHOOL DISTRICT,NORTHEASTERN NEW YORK,2012-2013,74.0,19.2%,72.0,18.7%,146.0,37.9%,ELEMENTARY,SCHOOL DISTRICT,15 MOUNTAIN RD,RAVENA,NY,12143.0,"15 MOUNTAIN RD\nRAVENA, NY 12143\n(42.47227638..."
2,10402,ALBANY,RAVENA COEYMANS SELKIRK CENTRAL SCHOOL DISTRICT,NORTHEASTERN NEW YORK,2012-2013,50.0,17.6%,67.0,23.6%,117.0,41.2%,MIDDLE/HIGH,SCHOOL DISTRICT,15 MOUNTAIN RD,RAVENA,NY,12143.0,"15 MOUNTAIN RD\nRAVENA, NY 12143\n(42.47227638..."
3,10500,ALBANY,COHOES CITY SCHOOL DISTRICT,NORTHEASTERN NEW YORK,2012-2013,84.0,17.2%,124.0,25.4%,208.0,42.5%,DISTRICT TOTAL,SCHOOL DISTRICT,7 BEVAN ST,COHOES,NY,12047.0,"7 BEVAN ST\nCOHOES, NY 12047\n(42.771285452000..."
4,10500,ALBANY,COHOES CITY SCHOOL DISTRICT,NORTHEASTERN NEW YORK,2012-2013,58.0,16.1%,89.0,24.7%,147.0,40.8%,ELEMENTARY,SCHOOL DISTRICT,7 BEVAN ST,COHOES,NY,12047.0,"7 BEVAN ST\nCOHOES, NY 12047\n(42.771285452000..."

In [ ]:
#Leer registros específicos de una variable
d[0:5]['REGION']

0    NORTHEASTERN NEW YORK
1    NORTHEASTERN NEW YORK
2    NORTHEASTERN NEW YORK
3    NORTHEASTERN NEW YORK
4    NORTHEASTERN NEW YORK
Name: REGION, dtype: object

In [68]:
# Diccionario de datos
d = {
    'c1': pd.Series(['A', 'B', 'C']),
    'c2': pd.Series([1, 2., 3., 4.])
    }

df = pd.DataFrame(d)
df

    c1   c2
0    A  1.0
1    B  2.0
2    C  3.0
3  NaN  4.0

In [69]:
ruta_out = "/gdrive/My Drive/UTEC/OUT/"
dataset_out = 'sample_data.csv'
df.to_csv(ruta_out+dataset_out)

### Importar Datos EXCEL

In [70]:
# Importar datos en formato xls.
dataset = 'students.xls'
d = pd.read_excel(ruta+dataset)
#Leer los primeros registros.
d.head()

,LOCATION CODE,COUNTY,AREA NAME,REGION,SCHOOL YEARS,NO. OVERWEIGHT,PCT OVERWEIGHT,NO. OBESE,PCT OBESE,NO. OVERWEIGHT OR OBESE,PCT OVERWEIGHT OR OBESE,GRADE LEVEL,AREA TYPE,STREET ADDRESS,CITY,STATE,ZIP CODE,Location 1
0,10402,ALBANY,RAVENA COEYMANS SELKIRK CENTRAL SCHOOL DISTRICT,NORTHEASTERN NEW YORK,2012-2013,124.0,0.185,139.0,0.208,263.0,0.393,DISTRICT TOTAL,SCHOOL DISTRICT,15 MOUNTAIN RD,RAVENA,NY,12143.0,"15 MOUNTAIN RD\nRAVENA, NY 12143\n(42.47227638..."
1,10402,ALBANY,RAVENA COEYMANS SELKIRK CENTRAL SCHOOL DISTRICT,NORTHEASTERN NEW YORK,2012-2013,74.0,0.192,72.0,0.187,146.0,0.379,ELEMENTARY,SCHOOL DISTRICT,15 MOUNTAIN RD,RAVENA,NY,12143.0,"15 MOUNTAIN RD\nRAVENA, NY 12143\n(42.47227638..."
2,10402,ALBANY,RAVENA COEYMANS SELKIRK CENTRAL SCHOOL DISTRICT,NORTHEASTERN NEW YORK,2012-2013,50.0,0.176,67.0,0.236,117.0,0.412,MIDDLE/HIGH,SCHOOL DISTRICT,15 MOUNTAIN RD,RAVENA,NY,12143.0,"15 MOUNTAIN RD\nRAVENA, NY 12143\n(42.47227638..."
3,10500,ALBANY,COHOES CITY SCHOOL DISTRICT,NORTHEASTERN NEW YORK,2012-2013,84.0,0.172,124.0,0.254,208.0,0.425,DISTRICT TOTAL,SCHOOL DISTRICT,7 BEVAN ST,COHOES,NY,12047.0,"7 BEVAN ST\nCOHOES, NY 12047\n(42.771285452000..."
4,10500,ALBANY,COHOES CITY SCHOOL DISTRICT,NORTHEASTERN NEW YORK,2012-2013,58.0,0.161,89.0,0.247,147.0,0.408,ELEMENTARY,SCHOOL DISTRICT,7 BEVAN ST,COHOES,NY,12047.0,"7 BEVAN ST\nCOHOES, NY 12047\n(42.771285452000..."

In [71]:
#Leer registros específicos de una variable
df = d[0:5]['COUNTY']
df

0    ALBANY
1    ALBANY
2    ALBANY
3    ALBANY
4    ALBANY
Name: COUNTY, dtype: object

In [72]:
#Exportar datos de un data frame a un xls
ruta_out = "/gdrive/My Drive/UTEC/OUT/"
df.to_excel(ruta_out+'sample_data.xlsx')

### Importar Datos JSON

In [73]:
ruta = "/gdrive/My Drive/UTEC/"
dataset = "students.json"

In [74]:
import json

json_data = open(ruta+dataset)
data = json.load(json_data)

In [75]:
data.keys()

dict_keys(['meta', 'data'])

In [76]:
data['meta']

{'view': {'id': 'es3k-2aus',
  'name': 'Student Weight Status Category Reporting Results: Beginning 2010',
  'attribution': 'New York State Department of Health',
  'attributionLink': 'http://www.health.ny.gov/prevention/obesity/',
  'averageRating': 0,
  'category': 'Health',
  'createdAt': 1363701898,
  'description': 'The Student Weight Status Category Reporting System (SWSCR) collects weight status category data (underweight, healthy weight, overweight or obese, based on BMI-for-age percentile).  The dataset includes separate estimates of the percent of students overweight, obese and overweight or obese for all reportable grades within the county and/or region and by grade groups (elementary and middle/high).   The rates of overweight and obesity reported are percentages based on counts of students in selected grades (Pre-K, K, 2, 4, 7, 10) reported to the NYSDOH. Because these rates reflect a broad range of factors that vary by school district, to make comparisons about observed differences in the rates of obesity and overweight between school districts requires the use of multivariate statistics. County, regional and statewide estimates will only be provided biennially, District estimates will be updated annually. For more information check out http://www.health.ny.gov/prevention/obesity/, see our Instruction Guide on How to Create Visualizations https://health.data.ny.gov/api/assets/6490BDA9-AE4D-406F-BA5A-703793526B9F or go to the "About" tab.',
  'displayType': 'table',
  'downloadCount': 5949,
  'indexUpdatedAt': 1414628645,
  'newBackend': False,
  'numberOfComments': 0,
  'oid': 8927251,
  'publicationAppendEnabled': False,
  'publicationDate': 1411499050,
  'publicationGroup': 742658,
  'publicationStage': 'published',
  'rowsUpdatedAt': 1411498834,
  'rowsUpdatedBy': 'da2s-ec8k',
  'tableId': 1726367,
  'totalTimesRated': 0,
  'viewCount': 17054,
  'viewLastModified': 1411499050,
  'viewType': 'tabular',
  'columns': [{'id': -1,
    'name': 'sid',
    'dataTypeName': 'meta_data',
    'fieldName': ':sid',
    'position': 0,
    'renderTypeName': 'meta_data',
    'format': {}},
   {'id': -1,
    'name': 'id',
    'dataTypeName': 'meta_data',
    'fieldName': ':id',
    'position': 0,
    'renderTypeName': 'meta_data',
    'format': {}},
   {'id': -1,
    'name': 'position',
    'dataTypeName': 'meta_data',
    'fieldName': ':position',
    'position': 0,
    'renderTypeName': 'meta_data',
    'format': {}},
   {'id': -1,
    'name': 'created_at',
    'dataTypeName': 'meta_data',
    'fieldName': ':created_at',
    'position': 0,
    'renderTypeName': 'meta_data',
    'format': {}},
   {'id': -1,
    'name': 'created_meta',
    'dataTypeName': 'meta_data',
    'fieldName': ':created_meta',
    'position': 0,
    'renderTypeName': 'meta_data',
    'format': {}},
   {'id': -1,
    'name': 'updated_at',
    'dataTypeName': 'meta_data',
    'fieldName': ':updated_at',
    'position': 0,
    'renderTypeName': 'meta_data',
    'format': {}},
   {'id': -1,
    'name': 'updated_meta',
    'dataTypeName': 'meta_data',
    'fieldName': ':updated_meta',
    'position': 0,
    'renderTypeName': 'meta_data',
    'format': {}},
   {'id': -1,
    'name': 'meta',
    'dataTypeName': 'meta_data',
    'fieldName': ':meta',
    'position': 0,
    'renderTypeName': 'meta_data',
    'format': {}},
   {'id': 168098713,
    'name': 'LOCATION CODE',
    'dataTypeName': 'text',
    'description': '6-digit code identifying the location type. For school districts, this is the 6-digit NYSED district BEDS code. For counties, this is the 6-digit NYSED county code. Regional codes range from 100000 – 700000. Statewide = 000000. ',
    'fieldName': 'location_code',
    'position': 1,
    'renderTypeName': 'text',
    'tableColumnId': 8751874,
    'width': 130,
    'cachedContents': {'non_null': 3270,
     'smallest': '000000',
     'null': 0,
     'largest': '700000',
     'top': [{'count': 20, 'item': '660102'},
      {'count': 19, 'item': '660202'},
      {'count': 18, 'item': '660203'},
      {'count': 17, 'item': '660303'},
      {'count': 16, 'item': '660402'},
      {'count': 15, 'item': '660403'},
      {'count': 14, 'item': '660404'},
      {'count': 13, 'item': '660405'},
      {'count': 12, 'item': '660407'},
      {'count': 11, 'item': '660501'},
      {'count': 10, 'item': '660801'},
      {'count': 9, 'item': '660805'},
      {'count': 8, 'item': '660809'},
      {'count': 7, 'item': '660900'},
      {'count': 6, 'item': '661100'},
      {'count': 5, 'item': '661301'},
      {'count': 4, 'item': '661601'},
      {'count': 3, 'item': '661901'},
      {'count': 2, 'item': '662001'},
      {'count': 1, 'item': '662101'}]},
    'format': {'align': 'left'}},
   {'id': 168098714,
    'name': 'COUNTY',
    'dataTypeName': 'text',
    'description': 'NYS county',
    'fieldName': 'county',
    'position': 2,
    'renderTypeName': 'text',
    'tableColumnId': 8751875,
    'width': 128,
    'cachedContents': {'non_null': 3270,
     'smallest': 'ALBANY',
     'null': 0,
     'largest': 'YATES',
     'top': [{'count': 20, 'item': 'ALBANY'},
      {'count': 19, 'item': 'ALLEGANY'},
      {'count': 18, 'item': 'BROOME'},
      {'count': 17, 'item': 'CATTARAUGUS'},
      {'count': 16, 'item': 'CHAUTAUQUA'},
      {'count': 15, 'item': 'DELAWARE'},
      {'count': 14, 'item': 'DUTCHESS'},
      {'count': 13, 'item': 'ERIE'},
      {'count': 12, 'item': 'MONROE'},
      {'count': 11, 'item': 'NASSAU'},
      {'count': 10, 'item': 'ONEIDA'},
      {'count': 9, 'item': 'ONONDAGA'},
      {'count': 8, 'item': 'ORANGE'},
      {'count': 7, 'item': 'ST. LAWRENCE'},
      {'count': 6, 'item': 'STEUBEN'},
      {'count': 5, 'item': 'SUFFOLK'},
      {'count': 4, 'item': 'WASHINGTON'},
      {'count': 3, 'item': 'WAYNE'},
      {'count': 2, 'item': 'WESTCHESTER'},
      {'count': 1, 'item': 'N/A'}]},
    'format': {'align': 'left'}},
   {'id': 168098715,
    'name': 'AREA NAME',
    'dataTypeName': 'text',
    'description': 'School district, county, or region name',
    'fieldName': 'area_name',
    'position': 3,
    'renderTypeName': 'text',
    'tableColumnId': 8751876,
    'width': 208,
    'cachedContents': {'non_null': 3270,
     'smallest': 'ADDISON CENTRAL SCHOOL',
     'null': 0,
     'largest': 'YORKTOWN CENTRAL SCHOOL',
     'top': [{'count': 20, 'item': 'BEDFORD CENTRAL SCHOOL'},
      {'count': 19, 'item': 'CROTON HARMON U F S'},
      {'count': 18, 'item': 'HENDRICK HUDSON CENTRAL SCHOOL'},
      {'count': 17, 'item': 'BRONXVILLE UNION FREE SCHOOL'},
      {'count': 16, 'item': 'IRVINGTON UNION FREE SCHOOL'},
      {'count': 15, 'item': 'DOBBS FERRY UNION FREE SCHOOL'},
      {'count': 14, 'item': 'HASTINGS ON HUDSON U F S'},
      {'count': 13, 'item': 'ARDSLEY UNION FREE SCHOOL'},
      {'count': 12, 'item': 'GREENBURGH CENTRAL SCHOOL'},
      {'count': 11, 'item': 'HARRISON CENTRAL SCHOOL'},
      {'count': 10, 'item': 'MT PLEASANT CENTRAL SCHOOL'},
      {'count': 9, 'item': 'VALHALLA UNION FREE SCHOOL'},
      {'count': 8, 'item': 'PLEASANTVILLE U F S'},
      {'count': 7, 'item': 'MOUNT VERNON CITY SCHOOLS'},
      {'count': 6, 'item': 'NEW ROCHELLE CITY SCHOOLS'},
      {'count': 5, 'item': 'NORTH SALEM CENTRAL SCHOOL DISTRICT'},
      {'count': 4, 'item': 'PELHAM UNION FREE SCHOOL'},
      {'count': 3, 'item': 'RYE NECK UNION FREE SCHOOL'},
      {'count': 2, 'item': 'SCARSDALE UNION FREE SCHOOL'},
      {'count': 1, 'item': 'SOMERS CENTRAL SCHOOL'}]},
    'format': {'align': 'left'}},
   {'id': 168098716,
    'name': 'REGION',
    'dataTypeName': 'text',
    'description': 'NYS region',
    'fieldName': 'region',
    'position': 4,
    'renderTypeName': 'text',
    'tableColumnId': 8751877,
    'width': 172,
    'cachedContents': {'non_null': 3270,
     'smallest': 'CENTRAL NEW YORK',
     'null': 0,
     'largest': 'WESTERN NEW YORK',
     'top': [{'count': 20, 'item': 'NORTHEASTERN NEW YORK'},
      {'count': 19, 'item': 'WESTERN NEW YORK'},
      {'count': 18, 'item': 'NEW YORK - PENN'},
      {'count': 17, 'item': 'CENTRAL NEW YORK'},
      {'count': 16, 'item': 'FINGER LAKES'},
      {'count': 15, 'item': 'HUDSON VALLEY'},
      {'count': 14, 'item': 'NASSAU-SUFFOLK'},
      {'count': 13, 'item': 'STATEWIDE (EXCLUDING NYC)'}]},
    'format': {'align': 'left'}},
   {'id': 168098717,
    'name': 'SCHOOL YEARS',
    'dataTypeName': 'text',
    'description': 'School years covered by reporting cycle',
    'fieldName': 'school_years',
    'position': 5,
    'renderTypeName': 'text',
    'tableColumnId': 8751878,
    'width': 133,
    'cachedContents': {'non_null': 3270,
     'smallest': '2010-2012',
     'null': 0,
     'largest': '2012-2013',
     'top': [{'count': 20, 'item': '2010-2012'},
      {'count': 19, 'item': '2012-2013'}]},
    'format': {'align': 'left'}},
   {'id': 168098718,
    'name': 'NO. OVERWEIGHT',
    'dataTypeName': 'number',
    'description': 'Number of students in 85th to 94th percentile (Overweight).  For children aged 2-19 years of age, overweight and obese are defined by plotting calculated Body-Mass Index (BMI).',
    'fieldName': 'overweight_1',
    'position': 6,
    'renderTypeName': 'number',
    'tableColumnId': 8751879,
    'width': 119,
    'cachedContents': {'non_null': 3078,
     'smallest': '5',
     'sum': '704192',
     'null': 192,
     'average': '228.7823261858350',
     'largest': '77813',
     'top': [{'count': 20, 'item': '10'},
      {'count': 19, 'item': '14'},
      {'count': 18, 'item': '34'},
      {'count': 17, 'item': '25'},
      {'count': 16, 'item': '24'},
      {'count': 15, 'item': '33'},
      {'count': 14, 'item': '26'},
      {'count': 13, 'item': '65'},
      {'count': 12, 'item': '39'},
      {'count': 11, 'item': '86'},
      {'count': 10, 'item': '64'},
      {'count': 9, 'item': '31'},
      {'count': 8, 'item': '35'},
      {'count': 7, 'item': '289'},
      {'count': 6, 'item': '206'},
      {'count': 5, 'item': '83'},
      {'count': 4, 'item': '613'},
      {'count': 3, 'item': '343'},
      {'count': 2, 'item': '270'},
      {'count': 1, 'item': '48'}]},
    'format': {'precisionStyle': 'standard',
     'align': 'right',
     'noCommas': 'false'}},
   {'id': 168098719,
    'name': 'PCT OVERWEIGHT',
    'dataTypeName': 'percent',
    'description': 'Percentage of students in 85th to 94th percentile (Overweight).  For children aged 2-19 years of age, overweight and obese are defined by plotting calculated Body-Mass Index (BMI).',
    'fieldName': 'overweight_2',
    'position': 7,
    'renderTypeName': 'percent',
    'tableColumnId': 8751880,
    'width': 123,
    'cachedContents': {'non_null': 3078,
     'smallest': '1.6',
     'sum': '51402.4',
     'null': 192,
     'average': '16.69993502274204',
     'largest': '100.0',
     'top': [{'count': 20, 'item': '15.5'},
      {'count': 19, 'item': '17.1'},
      {'count': 18, 'item': '16.6'},
      {'count': 17, 'item': '18.3'},
      {'count': 16, 'item': '16.7'},
      {'count': 15, 'item': '11.0'},
      {'count': 14, 'item': '12.2'},
      {'count': 13, 'item': '12.9'},
      {'count': 12, 'item': '15.1'},
      {'count': 11, 'item': '14.7'},
      {'count': 10, 'item': '13.3'},
      {'count': 9, 'item': '11.6'},
      {'count': 8, 'item': '17.2'},
      {'count': 7, 'item': '15.8'},
      {'count': 6, 'item': '17.0'},
      {'count': 5, 'item': '13.5'},
      {'count': 4, 'item': '16.9'},
      {'count': 3, 'item': '15.6'},
      {'count': 2, 'item': '18.9'},
      {'count': 1, 'item': '12.0'}]},
    'format': {'view': 'percent_bar_and_text',
     'align': 'right',
     'noCommas': 'false'}},
   {'id': 168098720,
    'name': 'NO. OBESE',
    'dataTypeName': 'number',
    'description': 'Number of students at or above the 95th percentile (Obese).  For children aged 2-19 years of age, overweight and obese are defined by plotting calculated Body-Mass Index (BMI).',
    'fieldName': 'obese_1',
    'position': 8,
    'renderTypeName': 'number',
    'tableColumnId': 8751881,
    'width': 84,
    'cachedContents': {'non_null': 3072,
     'smallest': '5',
     'sum': '760955',
     'null': 198,
     'average': '247.7067057291667',
     'largest': '84578',
     'top': [{'count': 20, 'item': '17'},
      {'count': 19, 'item': '30'},
      {'count': 18, 'item': '24'},
      {'count': 17, 'item': '5'},
      {'count': 16, 'item': '41'},
      {'count': 15, 'item': '23'},
      {'count': 14, 'item': '37'},
      {'count': 13, 'item': '28'},
      {'count': 12, 'item': '35'},
      {'count': 11, 'item': '21'},
      {'count': 10, 'item': '27'},
      {'count': 9, 'item': '19'},
      {'count': 8, 'item': '31'},
      {'count': 7, 'item': '63'},
      {'count': 6, 'item': '26'},
      {'count': 5, 'item': '84'},
      {'count': 4, 'item': '40'},
      {'count': 3, 'item': '44'},
      {'count': 2, 'item': '57'},
      {'count': 1, 'item': '32'}]},
    'format': {'precisionStyle': 'standard',
     'align': 'right',
     'noCommas': 'false'}},
   {'id': 168098721,
    'name': 'PCT OBESE',
    'dataTypeName': 'percent',
    'description': 'Percentage of students at or above the 95th percentile (Obese).  For children aged 2-19 years of age, overweight and obese are defined by plotting calculated Body-Mass Index (BMI).',
    'fieldName': 'obese_2',
    'position': 9,
    'renderTypeName': 'percent',
    'tableColumnId': 8751882,
    'width': 87,
    'cachedContents': {'non_null': 3072,
     'smallest': '1.3',
     'sum': '56795.5',
     'null': 198,
     'average': '18.48811848958333',
     'largest': '100.0',
     'top': [{'count': 20, 'item': '10.7'},
      {'count': 19, 'item': '14.3'},
      {'count': 18, 'item': '11.5'},
      {'count': 17, 'item': '12.1'},
      {'count': 16, 'item': '8.6'},
      {'count': 15, 'item': '11.8'},
      {'count': 14, 'item': '16.2'},
      {'count': 13, 'item': '16.1'},
      {'count': 12, 'item': '16.4'},
      {'count': 11, 'item': '18.5'},
      {'count': 10, 'item': '19.0'},
      {'count': 9, 'item': '17.8'},
      {'count': 8, 'item': '10.0'},
      {'count': 7, 'item': '7.9'},
      {'count': 6, 'item': '13.6'},
      {'count': 5, 'item': '10.2'},
      {'count': 4, 'item': '10.3'},
      {'count': 3, 'item': '10.1'},
      {'count': 2, 'item': '9.6'},
      {'count': 1, 'item': '11.7'}]},
    'format': {'view': 'percent_bar_and_text',
     'align': 'right',
     'noCommas': 'false'}},
   {'id': 168098722,
    'name': 'NO. OVERWEIGHT OR OBESE',
    'dataTypeName': 'number',
    'description': 'Number of students at or above the 85th percentile (Overweight or obese).  For children aged 2-19 years of age, overweight and obese are defined by plotting calculated Body-Mass Index (BMI).',
    'fieldName': 'overweight_or_obese_1',
    'position': 10,
    'renderTypeName': 'number',
    'tableColumnId': 8751883,
    'width': 191,
    'cachedContents': {'non_null': 3124,
     'smallest': '5',
     'sum': '1465147',
     'null': 146,
     'average': '468.9971190781050',
     'largest': '162391',
     'top': [{'count': 20, 'item': '100'},
      {'count': 19, 'item': '50'},
      {'count': 18, 'item': '107'},
      {'count': 17, 'item': '64'},
      {'count': 16, 'item': '71'},
      {'count': 15, 'item': '51'}]},
    'format': {'precisionStyle': 'standard',
     'align': 'right',
     'noCommas': 'false'}},
   {'id': 168098723,
    'name': 'PCT OVERWEIGHT OR OBESE',
    'dataTypeName': 'percent',
    'description': 'Percentage of students at or above the 85th percentile (Overweight or obese).  For children aged 2-19 years of age, overweight and obese are defined by plotting calculated Body-Mass Index (BMI).',
    'fieldName': 'overweight_or_obese_2',
    'position': 11,
    'renderTypeName': 'percent',
    'tableColumnId': 8751884,
    'width': 198,
    'cachedContents': {'non_null': 3124,
     'smallest': '3.6',
     'sum': '108198.1',
     'null': 146,
     'average': '34.63447503201024',
     'largest': '100.0',
     'top': [{'count': 20, 'item': '38.3'},
      {'count': 19, 'item': '32.0'},
      {'count': 18, 'item': '21.0'},
      {'count': 17, 'item': '28.4'},
      {'count': 16, 'item': '37.3'},
      {'count': 15, 'item': '44.9'},
      {'count': 14, 'item': '46.1'},
      {'count': 13, 'item': '43.2'}]},
    'format': {'view': 'percent_bar_and_text',
     'align': 'right',
     'noCommas': 'false'}},
   {'id': 168098724,
    'name': 'GRADE LEVEL',
    'dataTypeName': 'text',
    'description': 'Grade category (Elementary (grades Pre-K, K, 2 & 4); Middle/high (grades 7 & 10); or District total (grades Pre-K, K, 2, 4, 7 & 10))',
    'fieldName': 'grade_category',
    'position': 12,
    'renderTypeName': 'text',
    'tableColumnId': 8751885,
    'width': 151,
    'cachedContents': {'non_null': 3270,
     'smallest': 'DISTRICT TOTAL',
     'null': 0,
     'largest': 'MIDDLE/HIGH',
     'top': [{'count': 20, 'item': 'DISTRICT TOTAL'},
      {'count': 19, 'item': 'ELEMENTARY'},
      {'count': 18, 'item': 'MIDDLE/HIGH'}]},
    'format': {'align': 'left'}},
   {'id': 168098725,
    'name': 'AREA TYPE',
    'dataTypeName': 'text',
    'description': 'Area type definition (Statewide, excluding NYC; Region; County; School District)',
    'fieldName': 'area_type',
    'position': 13,
    'renderTypeName': 'text',
    'tableColumnId': 8751886,
    'width': 208,
    'cachedContents': {'non_null': 3270,
     'smallest': 'COUNTY',
     'null': 0,
     'largest': 'STATEWIDE (EXCLUDING NYC)',
     'top': [{'count': 20, 'item': 'SCHOOL DISTRICT'},
      {'count': 19, 'item': 'COUNTY'},
      {'count': 18, 'item': 'REGION'},
      {'count': 17, 'item': 'STATEWIDE (EXCLUDING NYC)'}]},
    'format': {'align': 'left'}},
   {'id': 168098726,
    'name': 'STREET ADDRESS',
    'dataTypeName': 'text',
    'description': 'Street address of school district home office',
    'fieldName': 'street_address',
    'position': 14,
    'renderTypeName': 'text',
    'tableColumnId': 8751888,
    'width': 268,
    'cachedContents': {'non_null': 3075,
     'smallest': '1000 W BOSTON POST RD',
     'null': 195,
     'largest': 'S 5120 ORCHARD AVE'},
    'format': {'align': 'left'}},
   {'id': 168098727,
    'name': 'CITY',
    'dataTypeName': 'text',
    'description': 'City of school district home office',
    'fieldName': 'city',
    'position': 15,
    'renderTypeName': 'text',
    'tableColumnId': 8751891,
    'width': 148,
    'cachedContents': {'non_null': 3075,
     'smallest': 'ACCORD',
     'null': 195,
     'largest': 'YOUNGSTOWN',
     'top': [{'count': 20, 'item': 'GREENLAWN'},
      {'count': 19, 'item': 'SOUTHAMPTON'},
      {'count': 18, 'item': 'BOLTON LANDING'},
      {'count': 17, 'item': 'GLENS FALLS'},
      {'count': 16, 'item': 'NORTH CREEK'},
      {'count': 15, 'item': 'QUEENSBURY'},
      {'count': 14, 'item': 'FORT ANN'},
      {'count': 13, 'item': 'FORT EDWARD'},
      {'count': 12, 'item': 'GRANVILLE'},
      {'count': 11, 'item': 'GREENWICH'},
      {'count': 10, 'item': 'LYONS'},
      {'count': 9, 'item': 'MARION'},
      {'count': 8, 'item': 'PALMYRA'},
      {'count': 7, 'item': 'WOLCOTT'},
      {'count': 6, 'item': 'RED CREEK'},
      {'count': 5, 'item': 'BEDFORD'},
      {'count': 4, 'item': 'CROTON ON HUDSON'},
      {'count': 3, 'item': 'MONTROSE'},
      {'count': 2, 'item': 'BRONXVILLE'},
      {'count': 1, 'item': 'IRVINGTON'}]},
    'format': {'align': 'left'}},
   {'id': 168098728,
    'name': 'STATE',
    'dataTypeName': 'text',
    'description': 'State of school district home office',
    'fieldName': 'state',
    'position': 16,
    'renderTypeName': 'text',
    'tableColumnId': 8751893,
    'width': 68,
    'cachedContents': {'non_null': 3075,
     'smallest': 'NY',
     'null': 195,
     'largest': 'NY',
     'top': [{'count': 20, 'item': 'NY'}]},
    'format': {'align': 'left'}},
   {'id': 168098729,
    'name': 'ZIP CODE',
    'dataTypeName': 'text',
    'description': 'Zip code of school district home office',
    'fieldName': 'zip_code',
    'position': 17,

In [77]:
data['data'][0]

[2237,
 '5273C009-D32B-4885-B20E-136767936ADD',
 2237,
 1411498109,
 '698552',
 1411498125,
 '705890',
 '{\n}',
 '010402',
 'ALBANY',
 'RAVENA COEYMANS SELKIRK CENTRAL SCHOOL DISTRICT',
 'NORTHEASTERN NEW YORK',
 '2012-2013',
 '124',
 '18.5',
 '139',
 '20.8',
 '263',
 '39.3',
 'DISTRICT TOTAL',
 'SCHOOL DISTRICT',
 '15 MOUNTAIN RD',
 'RAVENA',
 'NY',
 '12143',
 ['{"address":"15 MOUNTAIN RD","city":"RAVENA","state":"NY","zip":"12143"}',
  '42.47227638700048',
  '-73.81484141099963',
  None,
  False]]

In [78]:
data['data'][1]

[2238,
 'B5CF19C8-512B-4763-80AB-0CC83E62A5F4',
 2238,
 1411498109,
 '698552',
 1411498137,
 '705890',
 '{\n}',
 '010402',
 'ALBANY',
 'RAVENA COEYMANS SELKIRK CENTRAL SCHOOL DISTRICT',
 'NORTHEASTERN NEW YORK',
 '2012-2013',
 '74',
 '19.2',
 '72',
 '18.7',
 '146',
 '37.9',
 'ELEMENTARY',
 'SCHOOL DISTRICT',
 '15 MOUNTAIN RD',
 'RAVENA',
 'NY',
 '12143',
 ['{"address":"15 MOUNTAIN RD","city":"RAVENA","state":"NY","zip":"12143"}',
  '42.47227638700048',
  '-73.81484141099963',
  None,
  False]]

In [79]:
json_data.close()

### Actividad N040

Leer el archivo de datos “data_train” y realice una vista previa de los datos.

In [80]:
ruta = "/gdrive/My Drive/UTEC/"
dataset = "data_train.csv"

In [81]:
d = pd.read_csv(ruta+dataset)

In [82]:
d.head()

         Date  Account_id  Product_id  Category  Quantity  Year  Month
0  2022-01-04    33217773        8324  Gaseosas       712  2022      1
1  2022-01-04    33217773        8326  Gaseosas       890  2022      1
2  2022-01-04    33217773        9090  Gaseosas       445  2022      1
3  2022-01-04    33217773       12620  Gaseosas       890  2022      1
4  2022-01-04    33217776        8206  Gaseosas       178  2022      1