<a href="https://colab.research.google.com/github/escorpio11/programa-python/blob/main/modulo_3/Progama_Python_UTEC_Sesion03_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## [1] Tuplas

### [1.1] Tuplas a partir de un DataFrame

In [3]:
import pandas as pd
data = pd.read_csv("clientes.csv",sep=';')
dimensiones = data.shape

In [4]:
# Tipo de dato del objeto dimesiones
type(dimensiones)

tuple

In [5]:
type(data)

pandas.core.frame.DataFrame

### [1.2] Tuplas a partir de enumerate

In [6]:
paises = ['perú','colombia','venezuela','ecuador','chile']

for i,pais in enumerate(paises):
  print((i,pais))

(0, 'perú')
(1, 'colombia')
(2, 'venezuela')
(3, 'ecuador')
(4, 'chile')

### [1.3] Tuplas a partir de librería os

In [7]:
import os

ruta = "/home/usuario/archivo.txt"
resultado = os.path.split(ruta)
print(resultado)

('/home/usuario', 'archivo.txt')

## [2] Crear tuplas e identificar los tipos de tuplas

In [8]:
tupla_0 = ('ibk','bcp','bbva')
print(tupla_0)

('ibk', 'bcp', 'bbva')

In [10]:
type(tupla_0)

tuple

In [9]:
tupla_0 = () # Tupla vacía

In [ ]:
type(tupla_0)

In [14]:
#Lista con un elemento
tupla_0 = [1]
type(tupla_0)

list

In [12]:
tupla_0 = (1) # Tupla de 1 elemento (ERROR)
type(tupla_0)

int

In [13]:
#La manera correcta de crear una tupla con un elemento es la siguiente
tupla_0 = (1,)
type(tupla_0)

tuple

In [11]:
type(tupla_0)

tuple

In [ ]:
tupla_1 = (5,) # Tupla de 1 elemento
type(tupla_1)

## Actividad N022

Crear una tupla con el nombre “equipos”, los elementos de la tupla serán 5 equipos de fútbol y vamos a mostrar en pantalla el resultado.

In [15]:
equipos = ('Alianza','Universitario','Cienciano','Cristal','Vallejo')
print(equipos)

('Alianza', 'Universitario', 'Cienciano', 'Cristal', 'Vallejo')

## [3] Tipos de tuplas

In [16]:
# Tupla homogénea => elementos son del mismo tipo

tupla_2 = (2.0, 2.5, 3.2, 4.3, 4.5, 6.5, 7.0)
print(f"La tupla es \n{tupla_2}")
print(f"El objeto tupla_2 es del tipo {type(tupla_2)}")

La tupla es
(2.0, 2.5, 3.2, 4.3, 4.5, 6.5, 7.0)
El objeto tupla_2 es del tipo <class 'tuple'>

## Actividad N023

(2,5.5,'UTEC',True)

Crear una tupla con la información de la imagen superior y nombrar como “info_personal”.
¿Qué tipo de tupla es “info_personal”?

In [18]:
info_personal = (2,5.5,'UTEC',True)
print(f"La tupla es \n{info_personal}")
print(f"El objeto info_personal es del tipo {type(info_personal)}")

La tupla es
(2, 5.5, 'UTEC', True)
El objeto info_personal es del tipo <class 'tuple'>

## [4] Acceder a los elementos de las tuplas

In [19]:
materias = ('algebra','aritmética','razonamiento verbal','trigonometría','geometría')

In [20]:
materias[2]

'razonamiento verbal'

In [22]:
materias[1:4]

('aritmética', 'razonamiento verbal', 'trigonometría')

In [ ]:
print(f"La tupla es {tupla_3}")
print(f"El elemento de índice 1 de la tupla es {tupla_3[1]}")

In [23]:
tupla_4 = (1,2,3,4,5,6,7,8,9,10)

In [24]:
# Acceder a los elementos de la tupla por operadores de segmentación
print(f"Los elementos seleccionados de la tupla original son \n{tupla_4[2:7]}")

Los elementos seleccionados de la tupla original son
(3, 4, 5, 6, 7)

In [25]:
print(f"Los elementos seleccionados de la tupla original son \n{tupla_4[7:]}")

Los elementos seleccionados de la tupla original son
(8, 9, 10)

In [26]:
print(f"Los elementos seleccionados de la tupla original son \n{tupla_4[0:4]}")

Los elementos seleccionados de la tupla original son
(1, 2, 3, 4)

In [27]:
print(f"Los elementos seleccionados de la tupla original son \n{tupla_4[:4]}")

Los elementos seleccionados de la tupla original son
(1, 2, 3, 4)

## Actividad N024

Acceder al último elemento de la tupla (“equipos”).

In [30]:
print(f"El último elemento de la tupla es {equipos[-1]}")

El último elemento de la tupla es Vallejo

Acceder a los primeros 3 elementos de la tupla (“equipos”).

In [32]:
print(f'Los tres primeros elementos de equipo son {equipos[:3]}')

Los tres primeros elementos de equipo son ('Alianza', 'Universitario', 'Cienciano')

## [5] Desempaquetado de tuplas

In [33]:
var_1, var_2 = "UTEC","UPC" # Desempaquetado de dos cadenas de caracteres en dos variables (var_1,var_2)

In [34]:
print(f"El valor de var_1 es {var_1}")
print(f"El valor de var_2 es {var_2}")

El valor de var_1 es UTEC
El valor de var_2 es UPC

In [35]:
t_vocales = ("a", "e", "i", "o", "u")
print(f"La tupla vocales es {t_vocales}")

La tupla vocales es ('a', 'e', 'i', 'o', 'u')

In [36]:
print(f"La selección de los primeros tres elementos es {t_vocales[0:3]}")

La selección de los primeros tres elementos es ('a', 'e', 'i')

In [37]:
x, y, z = t_vocales[0:3] # Desempaquetar los elementos de la tupla en 3 variables

In [38]:
print(f"El primer elemento de la tupla vocales es {x}.")
print(f"El segundo elemento de la tupla vocales es {y}.")
print(f"El tercer elemento de la tupla vocales es {z}.")

El primer elemento de la tupla vocales es a.
El segundo elemento de la tupla vocales es e.
El tercer elemento de la tupla vocales es i.

In [40]:
t_vocales[0] = "A" # Tuplas son inmutables

TypeError: 'tuple' object does not support item assignment

In [41]:
print(materias)

('algebra', 'aritmética', 'razonamiento verbal', 'trigonometría', 'geometría')

In [43]:
x,y,z = materias[0:3]

## Actividad N025

Desempaquetar los 2 últimos equipos de la tupla (“equipos”) y almacenarlos en los objetos equipo_A y equipo_B.

In [45]:
equipos

('Alianza', 'Universitario', 'Cienciano', 'Cristal', 'Vallejo')

In [47]:
equipo_A,equipo_B = equipos[-2:]
print(f'El ultimo equipo es {equipo_A}\n el penultimo equipo es {equipo_B}')

El ultimo equipo es Cristal
 el penultimo equipo es Vallejo

## [6] Desempaquetado de tuplas con FOR

In [48]:
t_prod = (("A0001","manzana",3.0),("A0002","aceite",7.5)) #tupla de tuplas

In [49]:
print(f"La tupla de productos es \n{t_prod}")

La tupla de productos es
(('A0001', 'manzana', 3.0), ('A0002', 'aceite', 7.5))

In [50]:
for cod,prod,pre in t_prod:
  print(f"El producto {prod} con código {cod} tiene el precio vigente en S/.{pre}")

El producto manzana con código A0001 tiene el precio vigente en S/.3.0
El producto aceite con código A0002 tiene el precio vigente en S/.7.5

In [52]:
# ejemplo para alumnos

tupla_al = (('Juan','23','Noviembre'),('Pedro','22','Octube'),('Larisa','20','Marzo'),('Julieta','23','Abril'))
for nombre, edad, mes in tupla_al:
  print(f'{nombre} tiene {edad} años y nació en {mes}')

Juan tiene 23 años y nació en Noviembre
Pedro tiene 22 años y nació en Octube
Larisa tiene 20 años y nació en Marzo
Julieta tiene 23 años y nació en Abril

## [7] Función tuple

In [56]:
pares = tuple(range(2,11,2)) #funcion tuple permite crear tuplas
print(pares)
type(pares)

(2, 4, 6, 8, 10)

tuple

In [57]:
lista_ = list(range(10)) # Función list me permite crear listas

In [58]:
print(f"La lista {lista_} es del tipo {type(lista_)}")

La lista [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] es del tipo <class 'list'>

In [59]:
tupla_ = tuple(lista_) # Función tuple me permite crear tuplas
print(f"La tupla {tupla_} es del tipo {type(tupla_)}")

La tupla (0, 1, 2, 3, 4, 5, 6, 7, 8, 9) es del tipo <class 'tuple'>

In [60]:
tuple("David")

('D', 'a', 'v', 'i', 'd')

## Actividad N026

Crear la tupla cobre_prod, esta tupla estará compuesta por la información del cuadro.

## Actividad N027

Desempaquetar la tupla cobre_prod, imprimir en pantalla los siguientes enunciados.