<a href="https://colab.research.google.com/github/escorpio11/programa-python/blob/main/modulo_2/clase4/clase6_estructuras_de_control_repetitivas_i.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Introducción a Diccionarios

**¿Qué es un diccionario?**

Es una colección de datos en formato clave: valor.

Permite acceder a la información mediante claves, no por posición como las listas.

**¿Para qué sirve?**

Ideal para representar objetos del mundo real.

Muy útil en el sector financiero para almacenar datos de clientes, productos financieros, tasas, etc.

Ejemplo:

In [ ]:
cliente = {
    "nombre": "Ana",
    "edad": 35,
    "ingreso": 4500,
    "morosidades": 0
}
print(cliente["ingreso"])  # Acceder al ingreso del cliente

4500

In [ ]:
student = {
    "nombre": "Emmanuel",
    "edad": 29,
    "profesion": 'Ing Civil',
    "nacionalidad": 'Peruano'
}
for i in student:
  print(f'{i} :{student[i]}')
  #agregar dato

nombre :Emmanuel
edad :29
profesion :Ing Civil
nacionalidad :Peruano

In [ ]:
student['Formacion']='universitaria'
student

{'nombre': 'Emmanuel',
 'edad': 29,
 'profesion': 'Ing Civil',
 'nacionalidad': 'Peruano',
 'Formacion': 'universitaria'}

**Cómo acceder a valores:**

Usando la clave: diccionario["clave"]

**Añadir nuevo par clave-valor:**

In [ ]:
cliente["tipo_credito"] = "Hipotecario"

In [ ]:
cliente

{'nombre': 'Ana',
 'edad': 35,
 'ingreso': 4500,
 'morosidades': 0,
 'tipo_credito': 'Hipotecario'}

**Empezar con un diccionario vacío:**

In [ ]:
nuevo_cliente = {}
nuevo_cliente["nombre"] = "Luis"
nuevo_cliente["ingreso"] = 3000

In [ ]:
#creacion de nuevo diccionario
new_student={}
new_student['nombre']='Emmanuel'
new_student['edad']=29
new_student['profesion']='Ing Civil'
new_student

{'nombre': 'Emmanuel', 'edad': 29, 'profesion': 'Ing Civil'}

**Modificar valores:**

In [ ]:
cliente["ingreso"] = 5000

**Eliminar pares clave-valor:**

In [ ]:
clientes = {
    "001": {"nombre": "Ana", "ingreso": 4000},
    "002": {"nombre": "Luis", "ingreso": 3000}
}

In [ ]:
clientes

{'001': {'nombre': 'Ana', 'ingreso': 4000},
 '002': {'nombre': 'Luis', 'ingreso': 3000}}

In [ ]:
engineer={
    'ing_01': {'especialidad':'ing electrica','experiencia':'10 años'},
    'ing_02': {'especialidad':'ing civil','experiencia':'5 años'},
    'ing_03': {'especialidad':'ing sistemas','experiencia':'7 años'}
}
engineer

{'ing_01': {'especialidad': 'ing electrica', 'experiencia': '10 años'},
 'ing_02': {'especialidad': 'ing civil', 'experiencia': '5 años'},
 'ing_03': {'especialidad': 'ing sistemas', 'experiencia': '7 años'}}

In [ ]:
new_engineer={'especialidad':'ing sistemas','experiencia':'7 años'}
engineer['engineer_04']=new_engineer
engineer

{'ing_01': {'especialidad': 'ing electrica', 'experiencia': '10 años'},
 'ing_02': {'especialidad': 'ing civil', 'experiencia': '5 años'},
 'ing_03': {'especialidad': 'ing sistemas', 'experiencia': '7 años'},
 'engineer_04': {'especialidad': 'ing sistemas', 'experiencia': '7 años'}}

**modificar un valor en un diccionario de diccionarios**

In [ ]:
engineer['engineer_04']['experiencia']=15
engineer['engineer_04']['salario']=5000
engineer

{'ing_01': {'especialidad': 'ing electrica', 'experiencia': '10 años'},
 'ing_02': {'especialidad': 'ing civil', 'experiencia': '5 años'},
 'ing_03': {'especialidad': 'ing sistemas', 'experiencia': '7 años'},
 'engineer_04': {'especialidad': 'ing sistemas',
  'experiencia': 15,
  'salario': 5000}}

***Eliminar un valor de un dicionario***

In [ ]:
del engineer['ing_01']
engineer

{'ing_02': {'especialidad': 'ing civil', 'experiencia': '5 años'},
 'ing_03': {'especialidad': 'ing sistemas', 'experiencia': '7 años'},
 'engineer_04': {'especialidad': 'ing sistemas',
  'experiencia': 15,
  'salario': 5000}}

****Ejercicio 1:**

Crea un diccionario para un producto financiero con claves como nombre, tasa de interés y tipo. Luego accede a la tasa de interés y modifícala.

In [ ]:
prod_finan={
    'Nombre':'Emmanuel',
    'tasa_interes':0.05,
    'tipo':'Credito'
    }

In [ ]:
prod_finan['tasa_interes']=0.06
prod_finan

{'Nombre': 'Emmanuel', 'tasa_interes': 0.06, 'tipo': 'Credito'}

**Ejercicio 2:**

Crea un diccionario de 3 clientes con su nombre e ingresos. Agrega un nuevo cliente. Luego, elimina uno de los existentes.

In [ ]:
  #creacion de clientes nuevos
  clientes_ingresos={
    'Cliente_01':{'Nombre':'Luis','Ingresos':3000},
    'Cliente_02':{'Nombre':'Ana','Ingresos':4000},
    'Cliente_03':{'Nombre':'Carlos','Ingresos':5000}
}

In [ ]:
#agregar nuevo cliente
clientes_ingresos['Cliente_04']={'Nombre':'Emmanuel','Ingresos':6000}
clientes_ingresos

{'Cliente_01': {'Nombre': 'Luis', 'Ingresos': 3000},
 'Cliente_02': {'Nombre': 'Ana', 'Ingresos': 4000},
 'Cliente_03': {'Nombre': 'Carlos', 'Ingresos': 5000},
 'Cliente_04': {'Nombre': 'Emmanuel', 'Ingresos': 6000}}

In [ ]:
#eliminar cliente
del clientes_ingresos['Cliente_02']
clientes_ingresos

{'Cliente_01': {'Nombre': 'Luis', 'Ingresos': 3000},
 'Cliente_03': {'Nombre': 'Carlos', 'Ingresos': 5000},
 'Cliente_04': {'Nombre': 'Emmanuel', 'Ingresos': 6000}}

# 2. For en Python

**¿Qué es for?**

Una estructura de control repetitiva.

Se usa para recorrer elementos de una lista, string o diccionario.

**¿Para qué sirve?**

Automatizar procesos repetitivos, como revisar múltiples clientes o productos financieros.

**Sintaxis básica:**

In [1]:
lista_clientes = ["Ana", "Luis", "Sofía"]

In [2]:
for cliente in lista_clientes:
    print(cliente)

Ana
Luis
Sofía

**¿Por qué es repetitiva?**

Porque ejecuta el mismo bloque de código por cada elemento en la secuencia.

In [ ]:
ingresos = [1000, 2000, 3000]
for ingreso in ingresos:
    print("Ingreso anual:", ingreso * 12)

Ingreso anual: 12000
Ingreso anual: 24000
Ingreso anual: 36000

In [6]:
costos=[230,265,277,287]
i=0
for costo in costos:
  costo_ajustado=costo*1.3
  i+=1
  print(f'Costo anual año 200{i}, {costo_ajustado}')

Costo anual año 2001,299.0
Costo anual año 2002,344.5
Costo anual año 2003,360.1
Costo anual año 2004,373.1

Ejemplo 2: Recorrer un diccionario de clientes

In [ ]:
clientes

{'001': {'nombre': 'Ana', 'ingreso': 4000},
 '002': {'nombre': 'Luis', 'ingreso': 3000}}

In [ ]:
for id_cliente in clientes:
    print("ID:", id_cliente, "Ingreso:", clientes[id_cliente]["ingreso"])

ID: 001 Ingreso: 4000
ID: 002 Ingreso: 3000

Ejemplo 3: Contar cuántos clientes tienen ingreso > 3000

In [ ]:
contador = 0
for cliente in clientes.values():
    if cliente["ingreso"] > 3000:
        contador += 1
print("Clientes con alto ingreso:", contador)

Clientes con alto ingreso: 1

Ejemplo 4: Crear una lista con tasas ajustadas

In [ ]:
tasas = [0.05, 0.07, 0.08]
tasas_ajustadas = []
for tasa in tasas:
    tasas_ajustadas.append(tasa + 0.01)
print(tasas_ajustadas)

Ejemplo 5: Reporte de evaluación

In [ ]:
clientes = ["Ana", "Luis", "Sofía"]
for nombre in clientes:
    print(f"Evaluación enviada a {nombre}")