<a href="https://colab.research.google.com/github/escorpio11/programa-python/blob/main/modulo_2/clase4/Laboratorio_de_ejercicios_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

Ejercicio 1

Crear una lista con los nombres de 5 bancos.

In [3]:
bancos = ['BVA','CONTINENTAl','BCP','BANCO DE LA NACION','SANTANDER']
bancos

['BVA', 'CONTINENTAl', 'BCP', 'BANCO DE LA NACION', 'SANTANDER']

Ejercicio 2

Acceder al tercer banco de la lista.

In [6]:
banco_i = bancos[2]
banco_i

'BCP'

Ejercicio 3

Agregar un nuevo banco a la lista.

In [7]:
bancos.append('MI BANCO')
bancos

['BVA', 'CONTINENTAl', 'BCP', 'BANCO DE LA NACION', 'SANTANDER', 'MI BANCO']

Ejercicio 4

Eliminar el segundo banco.

In [9]:
bancos.remove(bancos[1])
bancos

['BVA', 'BANCO DE LA NACION', 'SANTANDER', 'MI BANCO']

Ejercicio 5

Ordenar alfabéticamente los bancos.

In [10]:
bancos.sort()
bancos

['BANCO DE LA NACION', 'BVA', 'MI BANCO', 'SANTANDER']

# Condicionales IF, ELIF, ELSE

Ejercicio 1

Verificar si un cliente tiene ingreso > 3000.

In [11]:
ingreso = float(input('Ingrese su ingreso: '))

if ingreso > 3000:
  print('Tiene ingreso mayor a 3000 soles')

Ingrese su ingreso: 4000
Tiene ingreso mayor a 3000 soles

Ejercicio 2

Evaluar edad para otorgar tarjeta de crédito.

In [12]:
edad = int(input('Ingrese su edad: '))

if edad >= 18:
  print('Puede otorgar tarjeta de crédito')
else:
  print('No puede otorgar tarjeta de crédito')

Ingrese su edad: 29
Puede otorgar tarjeta de crédito

Ejercicio 3

Evaluar un score de crédito.

In [14]:
edad = int(input('Ingrese su edad:'))
ingreso = float(input('Ingrese su ingreso:'))

if edad >= 18 and ingreso > 3000:
  print('Puede otorgar tarjeta de crédito')
else:
  print('No puede otorgar tarjeta de crédito')

Ingrese su edad:19
Ingrese su ingreso:4000
Puede otorgar tarjeta de crédito

Ejercicio 4

Verificar si una cuenta tiene saldo negativo.

In [17]:
ingreso = float(input('Ingrese su ingreso:'))
egresos = float(input('Ingrese sus egresos:'))

if ingreso > egresos:
  print('Tiene saldo positivo')
  saldo = ingreso - egresos
  print(f'Su saldo es: {saldo}')
else:
  print('Tiene saldo negativo')
  saldo = egresos - ingreso
  print(f'Su saldo es: -2{saldo}')

Ingrese su ingreso:2000
Ingrese sus egresos:999
Tiene saldo positivo
Su saldo es: 1001.0

Ejercicio 5

Comparar dos tasas de interés.

In [18]:
tase_1 = float(input('Ingrese la tasa 1:'))
tase_2 = float(input('Ingrese la tasa 2:'))

if tase_1 > tase_2:
  print('La tasa 1 es mayor')
  diferencia = tase_1 - tase_2
  print(f'La diferencia es: {diferencia}')
else:
  print('La tasa 2 es mayor')

Ingrese la tasa 1:2
Ingrese la tasa 2:3
La tasa 2 es mayor

Ejercicio 6

Evaluar si un cliente tiene más de 3 productos financieros.

In [21]:
tarjeta = str(input('Cuenta con tarjeta de credito ?: (y/n)')).lower()
ahorros = str(input('Cuenta con ahorros ?: (y/n)')).lower()
seguro = str(input('Cuenta con seguro de vida ?: (y/n)')).lower()
acciones = str(input('Cuenta con acciones ?: (y/n)')).lower()

if tarjeta == 'y' and ahorros == 'y' and seguro == 'y' and acciones == 'y':
  print('Tiene más de 3 productos financieros')
  print('Felicidades')
else:
  print('No tiene más de 3 productos financieros')
  print('Lo sentimos')

Cuenta con tarjeta de credito ?: (y/n)y
Cuenta con ahorros ?: (y/n)Y
Cuenta con seguro de vida ?: (y/n)Y
Cuenta con acciones ?: (y/n)Y
Tiene más de 3 productos financieros
Felicidades

Ejercicio 7

Determinar si un monto depositado supera los 10,000.

In [22]:
deposito = float(input('Ingrese el monto depositado:'))

if deposito > 10000:
  print('El monto depositado supera los 10,000 soles')
  print(f'El monto depositado es: {deposito}')
else:
  print('El monto depositado no supera los 10,000 soles')
  print(f'El monto depositado es: {deposito}')

Ingrese el monto depositado:7000
El monto depositado no supera los 10,000 soles
El monto depositado es: 7000.0

# **Diccionarios**

Ejercicio 1

Crear un diccionario con datos de un cliente.

In [24]:
datos_cliente = {
    'Nombre':'Juan',
    'Edad':'29',
    'Ingresos':'2400',
    'Egresos':'1500',
    'Saldo':'800'
}
datos_cliente

{'Nombre': 'Juan',
 'Edad': '29',
 'Ingresos': '2400',
 'Egresos': '1500',
 'Saldo': '800'}

Ejercicio 2

Acceder al saldo del cliente.

In [31]:
datos_cliente['Saldo']

1500

Ejercicio 3

Modificar el saldo.

In [32]:
datos_cliente['Saldo'] = 1500
datos_cliente

{'Nombre': 'Juan',
 'Edad': '29',
 'Ingresos': '2400',
 'Egresos': '1500',
 'Saldo': 1500}

Ejercicio 4

Agregar una nueva llave 'tarjeta_credito'.

In [33]:
datos_cliente['Tarjeta de credito'] = 'Visa'
datos_cliente

{'Nombre': 'Juan',
 'Edad': '29',
 'Ingresos': '2400',
 'Egresos': '1500',
 'Saldo': 1500,
 'Tarjeta de credito': 'Visa'}

Ejercicio 5

Eliminar el nombre del cliente.

In [36]:
del datos_cliente['Nombre']
datos_cliente

{'Edad': '29',
 'Ingresos': '2400',
 'Egresos': '1500',
 'Saldo': 1500,
 'Tarjeta de credito': 'Visa'}

# FOR

Ejercicio 1

Recorrer una lista de tasas de interés.

In [39]:
tasas = [4 , 5, 3.5, 4.5, 5.5]

for tasa in tasas:
  print(f'la tasas de interes es {tasa}')

la tasas de interes es 4
la tasas de interes es 5
la tasas de interes es 3.5
la tasas de interes es 4.5
la tasas de interes es 5.5

Ejercicio 2

Sumar todos los saldos de una lista.

In [40]:
saldos = [1000, 2000, 3000, 4000, 5000]
suma_saldos = 0

for saldo in saldos:
  suma_saldos += saldo

print(f'La suma de los saldos es: {suma_saldos}')

La suma de los saldos es: 15000

Ejercicio 3

Recorrer una lista de precios de productos ecommerce y aplicar descuento de 10%.

In [42]:
precios = [100, 200, 300, 400, 500]
count = 0
for precio in precios:
  precio_descuento = precio * 0.9
  count += 1
  print(f'El precio del producto {count} es {precio} y con descuento es: {precio_descuento}')

El precio del producto 1 es 100 y con descuento es: 90.0
El precio del producto 2 es 200 y con descuento es: 180.0
El precio del producto 3 es 300 y con descuento es: 270.0
El precio del producto 4 es 400 y con descuento es: 360.0
El precio del producto 5 es 500 y con descuento es: 450.0

Ejercicio 4

Contar cuántos productos tienen un precio mayor a 100.

In [44]:
count = 0
for precio in precios:
  if precio > 100:
    count +=1
print(f'El numero de productos con precio mayor a S/.100 es {count}')

El numero de productos con precio mayor a S/.100 es 4

Ejercicio 5

Recorrer campañas de marketing y mostrar su nombre.

In [46]:
campanas = ['verano','invierno','primavera','otoño']

for campana in campanas:
  print(f'esta es la campaña de {campana}')

esta es la campaña de verano
esta es la campaña de invierno
esta es la campaña de primavera
esta es la campaña de otoño

Ejercicio 6

Recorrer un diccionario de clientes con saldo y mostrar solo los que tengan saldo > 2000.

In [52]:
clientes = {
    'cliente_1':1000,
    'cliente_2':2000,
    'cliente_3':3000,
    'cliente_4':4000,
    'cliente_5':5000
}
for cliente, saldo in clientes.items():
  if saldo > 2000:
    print(f'El cliente {cliente} tiene un saldo de {saldo}')

El cliente cliente_3 tiene un saldo de 3000
El cliente cliente_4 tiene un saldo de 4000
El cliente cliente_5 tiene un saldo de 5000

Ejercicio 7

Recorrer una lista de emails de clientes y contar los que terminan en "@gmail.com".

In [54]:
lista_correos = ['correo1@gmail.com','correo2@hotmail.com','correo3@yahoo.com','correo4@gmail.com','correo5@gmail.com']
cont = 0
for correo in lista_correos:
  if correo.endswith('@gmail.com'):
    cont += 1
print(f'El numero de correos que terminan en @gmail.com es {cont}')

El numero de correos que terminan en @gmail.com es 3

# Mini Proyecto

"Evaluador de Clientes Hipotecarios"

Contexto:
Un banco quiere evaluar a sus clientes para ofrecerles un nuevo crédito hipotecario.
Cada cliente tiene datos como: nombre, ingreso mensual, deudas actuales y número de productos contratados.

Objetivo:
1. Crear la base de datos de clientes usando un diccionario.
2. Usar for para recorrer todos los clientes.
3. Aplicar condicionales para clasificar:
   - "Elegible" si su ingreso anual es mayor a 36,000 soles, sus deudas son menores a 15,000 soles y tiene al menos 2 productos contratados.
   - "Requiere Evaluación" si cumple solo algunas condiciones.
   - "No Elegible" si no cumple ninguna condición.
4. Mostrar el resultado bien formateado por cliente.

Instrucciones

1. Crea un diccionario llamado clientes con al menos 5 clientes.
2. Cada cliente tendrá:
   - Nombre (str)
   - Ingreso mensual (float)
   - Deudas (float)
   - Número de productos contratados (int)
3. Calcula el ingreso anual (ingreso mensual × 12).
4. Usa un for para recorrer cada cliente.
5. Usa if, elif, else para clasificarlo en una de las tres categorías.
6. Muestra en pantalla: Cliente: {nombre} - Resultado: {clasificación}

# 🔥 Nivel extra:

1. Ingresa manualmente los clientes (input).
2. Calcula la diferencia absoluta (abs) entre ingreso anual y deudas.
3. Redondea (round) el ingreso anual al número entero más cercano.

In [59]:
#Base de datos de clientes
clientes = {
            'cliente_001' : {
                            'nombre' : 'Juan',
                            'ingreso_mensual' : 2000,
                            'deudas' : 1000,
                            'productos_contratados' : 2
                            },
            'cliente_002' : {
                            'nombre' : 'Pedro',
                            'ingreso_mensual' : 3000,
                            'deudas' : 2000,
                            'productos_contratados' : 3

            },
            'cliente_003' : {
                            'nombre' : 'Maria',
                            'ingreso_mensual' : 4000,
                            'deudas' : 3000,
                            'productos_contratados' : 4
            },
            'cliente_004' : {
                            'nombre' : 'Ana',
                            'ingreso_mensual' : 5000,
                            'deudas' : 4000,
                            'productos_contratados' : 5
            },
            'cliente_005' : {
                            'nombre' : 'Luis',
                            'ingreso_mensual' : 6000,
                            'deudas' : 5000,
                            'productos_contratados' : 6
            }

}

In [60]:
for cliente, datos in clientes.items():
  ingreso_anual = datos['ingreso_mensual']*12
  datos['ingreso_anual'] = ingreso_anual
  if datos['ingreso_anual'] > 36000 and datos['deudas'] < 15000 and datos['productos_contratados'] >= 2:
    datos['clasificacion'] = 'Elegible'
    print(f'Cliente: {datos["nombre"]} - Resultado: {datos["clasificacion"]}')

Cliente: Maria - Resultado: Elegible
Cliente: Ana - Resultado: Elegible
Cliente: Luis - Resultado: Elegible